In [33]:
import camelot as camelot
import pandas as pd
import matplotlib.pyplot as plt

In [64]:
# Extract tables 

file = "https://cpcb.nic.in//upload/Downloads/AQI_Bulletin_20220307.pdf"
tables = camelot.read_pdf(file, pages='all', strip_text='\n', flag_size=True)

In [65]:
def filter_df(df):
    df.columns = ['City', 'Air Quality', 'Index Value', 'Prominent Pollutant', 'No. of Monitoring Stations']
    df.reset_index().drop(columns= 'index', axis=1, inplace=True)
    return df

In [66]:
# First table to dataframe
tables[0].df

,0,1,2,3,4,5
0,S.No,City,Air Quality,Index Value,Prominent Pollutant,Based on Numberof MonitoringStations
1,1,Agartala,Poor,225,PM2.5,1
2,2,Agra,Moderate,140,"PM, O, PM1032.5",6
3,3,Ahmedabad,Poor,239,PM2.5,8
4,4,Aizawl,Satisfactory,70,PM10,1
5,5,Ajmer,Satisfactory,91,PM10,1
6,6,Alwar,Satisfactory,83,PM10,1
7,7,Amaravati,Satisfactory,56,PM10,1
8,8,Amritsar,Satisfactory,77,PM10,1
9,9,Ankleshwar,Moderate,196,PM2.5,1
10,10,Araria,Very Poor,337,O3,1
11,11,Arrah,Moderate,186,PM10,1
12,12,Asansol,Moderate,135,PM2.5,1

In [67]:
table_list = []
for num, table in enumerate(tables):
    if  num % 2 == 0:
        table_df = table.df
        table_list.append(table_df.drop(0).drop(0, axis=1))

In [57]:
df = pd.concat(table_list)

In [68]:
df.pipe(filter_df)

,City,Air Quality,Index Value,Prominent Pollutant,No. of Monitoring Stations
1,Agartala,Poor,225,PM2.5,1
2,Agra,Moderate,140,"PM, O, PM1032.5",6
3,Ahmedabad,Poor,239,PM2.5,8
4,Aizawl,Satisfactory,70,PM10,1
5,Ajmer,Satisfactory,91,PM10,1
...,...,...,...,...,...
7,Vatva,Poor,203,PM2.5,1
8,Vijayapura,Satisfactory,51,PM10,1
9,Visakhapatnam,Moderate,130,PM10,1
10,Yadgir,Satisfactory,53,PM10,1
11,Yamunanagar,Poor,251,PM2.5,1